* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #625858 !important;
}

.wrapper {
    margin-top: 40px;
    text-align: center;
}

.wrapper h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    color: #fff;
    margin-bottom: 25px;
}

.our-team {
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.our-team .team-member {
    width: 300px;
    margin: 20px;
    color: white;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    text-align: center;
}

.our-team .team-member .member-img {
    background: white;
    max-width: 190px;
    width: 100%;
    height: 190px;
    margin: 0 auto 20px;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.our-team .team-member .member-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.our-team .team-member h3 {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.4; /* Adjusted line height */
    letter-spacing: 2px;
    margin: 15px 0 5px;
}

.our-team .team-member span {
    font-size: 12px;
    display: block;
    margin-bottom: 15px;
}

.our-team .team-member p {
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    hyphens: auto; /* Enable hyphenation for better word breaks */
    word-break: break-word; /* Allow long words to break */
    margin: 0 auto;
    max-width: 250px;
    margin-bottom: 15px;
    position: relative;
}

.our-team .team-member .member-img .social-media {
    position: absolute;
    top: 5px;
    left: 5px;
    background: rgba(0, 0, 0, 0.64);
    width: 95%;
    height: 95%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: scale(0);
    transition: all 0.5s ease;
}

.our-team .team-member .member-img .social-media .item {
    margin: 0 10px;
}

.our-team .team-member .member-img .social-media .fab,
.our-team .team-member .member-img .social-media .fas {
    color: #8c7ae6;
    font-size: 20px;
}

.our-team .team-member .member-img:hover .social-media {
    transform: scale(1);
}
